[submodule "vim/bundle/go-vim"]
	path = vim/bundle/go-vim
	url = git@github.com:uggedal/go-vim.git
	branch = master
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
	branch = master
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
	branch = master
[submodule "vim/bundle/greplace.vim"]
	path = vim/bundle/greplace.vim
	url = git@github.com:vim-scripts/greplace.vim.git
	branch = master
