[submodule "rbenv"]
	path = rbenv
	url = git@github.com:sstephenson/rbenv.git
	branch = master
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
